<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projet">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Projet">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".inscription"
            android:exported="true"
            android:label="@string/Singup">
        </activity>

        <activity
            android:name=".identification"
            android:exported="true"
            android:label="@string/login">
        </activity>

        <activity
            android:name=".conversations"
            android:exported="true">
        </activity>
      <activity
         android:name=".parametres"
         android:exported="true">
      </activity>
      <activity
        android:name=".parametres_informations_personnelles"
        android:exported="true">
      </activity>
        <activity
            android:name=".conversations_liste"
            android:exported="true"
            android:label="@string/main">
        </activity>
    </application>

</manifest>
